h1{
	color: #4D6A47;
	background-color: #bcffe9;
}
body{
	background-color: #a0a5e9;
	color: #4b2736;
	background-image: url('pmmg.png');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center top;
}
p{
	background-color: #a0a5e9;
	color: black;
}
h1{
  text-align: center;
}